:root {
  --text-color-major-white: #ffffff;
  --text-color-major-dark: #212121;
  --text-color-grey: #757575;
  --accent-color: #2196f3;
  --logo-color-blue: #2196f3;
  --bg-black-color: #2f303a;
  --bg-pepel-color: #f5f4fa;
  --transparent-grey-color: rgba(255, 255, 255, 0.6);
  --button-blue-color: #188ce8;
}
